button {
  margin-left: 10px;
  border-radius: 5px;
  padding: 0px 10px;
}

input {
  border-radius: 5px;
  display: block;
}

.btn {
  display: block;
  position: relative;
  left: -200px;
  border-radius: 5px;
  margin-left: 10px;
  background: yellow;
  color: black;
  display: block;
  padding: 2px 20px 2px 20px;
}
